$primary-background-color: white;
$secondary-background-color: rgb(242, 242, 242);

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
}

#root {
  margin: 20px;
  background-color: $primary-background-color;

}

ul {
  padding: 10px 25px;
  list-style: none;
  cursor: default;

}

.wrapper {
  padding: 0 3px;
}


.branch-header.parent, .list-header.parent {
  display: flex;
  cursor: pointer;
  font-weight: bold;
}

.closed {
  background-color: $primary-background-color;
}

.odd {
  background-color: $secondary-background-color;
}
.even {
  background-color: $primary-background-color;
}

i {
  margin: 0 5px;
  color: rgb(35, 137, 255);
  margin-top: 4px;
  margin: 0 5px;
}

.branch-header::before {
  //horizontal lines
  content: "";
  position: absolute;
  height: 1px;
  background: black;
  top: 8px;
  width: 10px;
  left: -13px;
}

li::before {
  //vertical lines
  content: "";
  position: absolute;
  width: 1px;
  background: black;
  top: 22px;
  bottom: 0px;
  left: 12px;
}

.last-child::after {
  content: "";
  position: absolute;
  width: 5px;
  background: $primary-background-color; 
  top: 9px;
  bottom: -1000px;
  left: -14px;
}

.level-1.non-parent {
  font-size:20px;

}